.rm-border {
    border-right: none;
}

/* .color1 {
    background-color: #f2dede; 
}

.color2 {
    background-color: #d9ead3;
}

.color3 {
    background-color: #d9f0ff;
}

.color4 {
    background-color: #fff2cc;
}

.color5 {
    background-color: #e5e0ec;
}

.color6 {
    background-color: #fce5cd;
}

.color7 {
    background-color: #eaf1dd; 
}

.color8 {
    background-color: #f3e5f5;
}

.color9 {
    background-color: #ffd9eb; 
}

.color10 {
    background-color: #d9d2e9;
}

.color11 {
    background-color: #fff7e6;
}

.color12 {
    background-color: #e2f0cb;
}

.color13 {
    background-color: #c9f0c8;
}

.color14 {
    background-color: #f5e6e8;
}

.color15 {
    background-color: #e8ecef;
} */

.color1 {
    background-color: #d9bcbc; 
}

.color2 {
    background-color: #b7d0b3;
}

.color3 {
    background-color: #a8cce5;
}

.color4 {
    background-color: #e6d08c;
}

.color5 {
    background-color: #c2b8d3;
}

.color6 {
    background-color: #e5b88a;
}

.color7 {
    background-color: #c7d1b0; 
}

.color8 {
    background-color: #d6b8db;
}

.color9 {
    background-color: #e59bbf; 
}

.color10 {
    background-color: #b5a6d0;
}

.color11 {
    background-color: #e6c57a;
}

.color12 {
    background-color: #b4d88f;
}

.color13 {
    background-color: #96d596;
}

.color14 {
    background-color: #d8b5b8;
}

.color15 {
    background-color: #b6c0c7;
}

.partition-box {
    padding: 10px;
}  

.first-partition {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-partition {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.partition-box.selected {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.step-indicator-container {
    margin: 0 8px;
}

.step-name {
    font-size: 0.85em;
    color: #deddda;
    margin-top: 4px;
    margin-bottom: 0;
    font-weight: 500;
}

.step-line {
    background: #77767b;
    opacity: 0.5;
    border: none;
    margin: 4px 0 0 0;
}

/* Step indicator circle styles */
.circular {
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    background: #222;
    color: transparent;
    border: 2px solid #808080;
    margin: 0px;
    box-shadow: none;
    transition: border-color 0.2s, background 0.2s;
    padding: 0;
}

.completed-step {
    background: #3584e4;
    border: 2px solid #3584e4;
}

.current-step {
    border: 4px solid #808080;
    background: #3584e4;
}

/* Uncompleted step: fully gray */
.inactive-step {
    background: linear-gradient(to top, #222 50%, #222 50%);
    border: 4px solid #808080;
}

/* Separator styles between circles */
.step-separator {
    min-width: 15px;
    min-height: 4px;
    background: #808080;
    border-radius: 2px;
}

.separator-completed {
    background: #3584e4;
}

.separator-current {
    background: #3584e4;
}

.separator-inactive {
    background: #808080;
}

.current-step-name {
    font-size: .9em;
    font-weight: bold;
    color: #fff;
}